// .css-blurry-gradient {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, 0%);
//   width: 800px;
//   height: 800px;
//   border-radius: 50% 22% 40% 80%;
//   filter: blur(100px);
//   background: radial-gradient(
//     circle at 50% 50%,
//     rgba(76, 0, 255, 1),
//     rgba(76, 0, 255, 0)
//   );
//   opacity: 0.7;
// }

.flare {
  display: none;
  content: "";
  position: absolute;
  width: 18.75rem;
  height: 100vh;
  background: linear-gradient(180deg, #602779, 70%, #00a9ab);
  border-radius: 50%;
  transform: rotateZ(120deg);
  z-index: -2;
}

// flare at the beginning
.flare--1 {
  top: -40%;
  right: 0%;
  // animation: gradient-animation 9s ease infinite;
}

.flare--2 {
  bottom: -60%;
  left: -20%;
  transform: rotateZ(-90deg);
  // animation: gradient-animation 9s ease infinite;
}

.flare--3 {
  bottom: -100%;
  right: -20%;
  transform: rotateZ(-120deg);
}

.flare--4 {
  bottom: -200%;
  transform: rotateZ(-120deg);
}

.flare--5 {
  bottom: -230%;
  right: -30%;
}

.flare--6 {
  bottom: -250%;
  left: 40%;
  transform: rotateZ(90deg);
}

.flare--7 {
  bottom: -320%;
  left: -20%;
  transform: rotateZ(-100deg);
}

.flare--8 {
  bottom: -350%;
  right: -20%;
  transform: rotateZ(300deg);
}

.flare--9 {
  bottom: -450%;
  right: -30%;
  transform: rotateZ(300deg);
}

.flare--10 {
  bottom: -410%;
  left: -20%;
  transform: rotateZ(280deg);
}

.flare--11 {
  bottom: -500%;
  left: 50%;
}

// SECTION HERO
.section-hero {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--clr-white);

  .section-center {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .logo {
    max-width: 300px;
    margin-bottom: 3rem;
  }

  .logo--no-copy {
    display: none; // hides on mobile
    width: 33.3%;
    filter: drop-shadow(0px 0px 1.875rem rgba(96, 39, 121, 0.5)); //fallback
    animation: drop-shadow-glow 2.5s ease infinite;
    transform-style: preserve-3d;
    transform: perspective(1000px);
  }

  .section-hero__text {
    width: 100%;

    h1 {
      font-size: var(--fs-700);
    }
    p {
      font-size: var(--fs-600);
      margin-top: 1.333rem;
    }
  }
}

// SECTION BIG NUMBERS

// SECTION SLIDER
.section-sliders {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
  }

  .title {
    font-size: var(--fs-700);
    font-weight: bolder;
    color: var(--clr-main-200);
  }

  .text {
    font-size: var(--fs-500);
  }

  .competencias {
    margin-top: 0.99rem;
  }

  li {
    font-weight: 300;
    list-style: none;
  }

  li + li {
    margin-top: 0.33rem;
  }
}

// SECTION FOR-YOU
.section-for-you {
  .title {
    // text-align: center;
    font-size: var(--fs-600);
    font-weight: bolder;
    margin-bottom: 1.3125rem;
  }

  .left {
    li::before {
      filter: drop-shadow(0px 0px 3.5rem var(--clr-main-200)) saturate(3);
      background-image: url(./public/images/icon-check.svg);
    }
  }

  .right {
    li::before {
      filter: drop-shadow(0px 0px 3.5rem var(--clr-accent-200)) saturate(3);
    }
  }
}

// SECTION TESTIMONIAL
.section-testimonial {
  .splide__list {
    cursor: grab;
  }

  .splide__list:active {
    cursor: grabbing;
  }

  .splide__arrows {
    display: none;
  }

  // change dots positioning
  .splide__pagination.splide__pagination {
    bottom: -1.6rem;
  }

  .splide__pagination__page.splide__pagination__page {
    background-color: var(--clr-main);
  }

  .splide__pagination__page.is-active.splide__pagination__page.is-active {
    background-color: var(--clr-main-200);
  }

  .testimonials__slide__text {
    font-size: var(--fs-500);
  }

  .name {
    font-weight: bolder;
    font-size: var(--fs-500);
    color: var(--clr-accent-200);
  }
}

footer {
  padding: 2.75vh 0;
  text-align: center;

  p {
    font-weight: 600;
    font-size: var(--fs-500);
    color: var(--clr-white);
  }
}

@media screen and (min-width: 48rem) {
  .flare {
    display: initial;
  }

  .section-sliders {
    .wrapper {
      flex-direction: row;

      img {
        width: 50%;
      }
    }

    .competencias {
      display: flex;
      gap: 0.66rem;
    }
  }
}

@media screen and (min-width: 56.25rem) {
  .section-hero {
    height: 100vh;

    .section-center {
      flex-direction: row;
    }

    .logo {
      margin-bottom: 0.66rem;
    }

    .logo--no-copy {
      display: block;
    }

    .section-hero__text {
      width: 66.6%;
      text-align: left;

      h1 {
        font-size: var(--fs-900);
      }
    }
  }
}
